/* shared style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

:root{
  --primary-color: #3A3A3A;
  --h3-color: #18191F;
  --h4-color: rgba(0, 0, 0, 0.87);
  --card-p: #787885;
  --btn-color: #E02C6D;
}

h1, h2, h3, h4, h5, h6{
  line-height: normal;
}

.text-center{
  text-align: center;
}

a{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

img{
  width: 100%;
  height: auto;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 100px;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

/* header section */
section.header{
  margin-top: 87px;
}

section.header nav{
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

section.header nav p{
  color: var(--primary-color);
  font-size: 1.4em;
  font-weight: 700;
}

section.header nav p:hover{
  color: #E02C6D;
}

section.header nav ul{
  gap: 34px;
  align-items: center;
}

section.header nav ul li:hover a{
  color: #E02C6D;
}

section.header nav ul li:nth-last-child(-n+2) a:hover{
  color: #E02C6D;
}

section.header nav ul li a{
  color: var(--primary-color);
  font-weight: 600;
}

section.header nav ul li:nth-last-child(-n+2) a{
  color: #000000;
}

section.header nav ul li:nth-last-child(2) a{
  font-size: 1.2em;
}
section.header nav ul li:nth-last-child(1) a{
  font-size: 1.8em;
}

.hero-area{
  gap: 130px;
}

.hero-area .hero-area-dt{
  width: 582px;
  align-content: center;
}

.hero-area .hero-area-dt h1{
  color: var(--primary-color);
  font-size: 3em;
  font-weight: 700;
}

.hero-area .hero-area-dt p{
  margin-top: 16px;
  color: var(--primary-color);
  font-weight: 600;
}

.hero-area .hero-area-dt span{
  margin-top: 26px;
  display: inline-block;
}

.hero-area .hero-area-dt span a{
  padding: 10px 24px;
  color: #ffffff;
  font-weight: 700;
  background-color: var(--btn-color);
  border: none;
  border-radius: 41px;
}

.hero-area .hero-area-dt span a:hover{
  background-color: #0f172a;
  box-shadow: 0 1px 25px 1px #0f172a;
}

.hero-area .hero-area-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area .hero-area-img .bg{
  position: absolute;
  object-fit: contain;
}

.hero-area .hero-area-img .camera{
  position:relative;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .container{
    padding: 0 30px;
  }

  section.header{
    margin-top: 40px;
  }

  section.header nav{
    margin-bottom: 30px;
    flex-direction: column;
    gap: 10px;
  }

  section.header nav p{
    font-size: 1.3em;
  }

  section.header nav ul{
    gap: 20px;
    background-color: #0f172a;
    padding: 4px 20px;
    border: none;
    border-radius: 20px;
  }

  section.header nav ul li a{
    color: rgb(237, 237, 237);
    font-weight: 500;
    font-size: 14px;
   }

  section.header nav ul li:nth-last-child(-n+2) a{
    font-weight: 500;
    color: rgb(237, 237, 237);
  }

  section.header nav ul li:nth-last-child(1) a{
    font-size: 1.2em;
  }

  .hero-area{
    flex-direction: column-reverse;
    gap: 40px;
  }

  .hero-area .hero-area-dt{
    width: 100%;
    text-align: center;
  }

  .hero-area .hero-area-dt h1{
    font-size: 2.2em;
  }

  .hero-area .hero-area-dt p{
    font-size: 14px;
  }

  .hero-area .hero-area-dt span a{
    font-size: 14px;
    font-weight: 600;
  }

  .hero-area .hero-area-img{
    margin-top: 60px;
  }

  .hero-area .hero-area-img .bg{
    width: 90%;
  }

  .hero-area .hero-area-img .camera{
    width: 80%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container{
    padding: 0 30px;
  }

  section.header{
    margin-top: 40px;
  }

  section.header nav{
    margin-bottom: 30px;
    flex-direction: column;
    gap: 10px;
  }

  section.header nav ul{
    background-color: #0f172a;
    padding: 7px 30px;
    border: none;
    border-radius: 20px;
    gap: 50px;
  }

  section.header nav ul li a{
    color: rgb(237, 237, 237);
   }

  section.header nav ul li:nth-last-child(-n+2) a{
    color: rgb(237, 237, 237);
  }

  .hero-area{
    flex-direction: column-reverse;
    gap: 80px;
  }

  .hero-area .hero-area-dt{
    width: 100%;
    text-align: center;
  }

  .hero-area .hero-area-dt h1{
    font-size: 2.7em;
  }

  .hero-area .hero-area-img{
    margin-top: 80px;
  }

  .hero-area .hero-area-img .bg{
    width: 70%;
  }

  .hero-area .hero-area-img .camera{
    width: 60%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.header{
    margin-top: 40px;
  }

  .hero-area{
    gap: 70px;
  }

  .hero-area .hero-area-dt h1{
    font-size: 2.8em;
  }
}

/* sponsor section */
section.sponsor{
  margin-top: 70px;
}

.sponsor-content{
  grid-template-columns: repeat(7, 1fr);
  gap: 60px;
  border-top: 1px solid #c0ccda;
  border-bottom: 1px solid #c0ccda;
  padding: 36px 60px;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .container{
    padding: 0 30px;
  }

  .sponsor-content{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .sponsor-content .center-logo{
    grid-column: span 3;
    justify-self: center;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container{
    padding: 0 30px;
  }

  section.sponsor{
    margin-top: 100px;
  }
  .sponsor-content{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sponsor-content{
    gap: 40px;
    padding: 30px 50px;
  }
}

/* collection section */
section.collection{
  margin: 100px 0;
}

section.collection h2{
  margin-bottom: 30px;
  color: var(--primary-color);
  font-size: 2.5em;
  font-weight: 700;
}

section.collection .card{
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

section.collection .card div{
  background-color: #ffffff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 17px 15px;
}

section.collection .card div:hover{
  border: 1px solid #E02C6D;
}

section.collection .card h3{
  margin-top: 16px;
  color: var(--h3-color);
  font-size: 1.3em;
}

section.collection .card h4{
  margin-top: 6px;
  color: var(--h4-color);
  font-size: 1.2em;
}

section.collection .card .star{
  font-size: 9px;
  color: #FB8200;
}

section.collection .card .rating{
  color: #5E6366;
  font-size: 14px;
}

section.collection .card p{
  color: var(--card-p);
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .container{
    padding: 0 30px;
  }
  
  section.collection h2{
    font-size: 2em;
  }

  section.collection .card{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container{
    padding: 0 30px;
  }

  section.collection h2{
    font-size: 2.3em;
  }

  section.collection .card{
    grid-template-columns: repeat(2, 1fr);
  }
}